[Unit]
Description=Exchangecoin Full Node
Requires=local-fs.target network-online.target network.target
After=local-fs.target network-online.target network.target

[Service]
Type=simple

User=exccd
Group=exccd

# exccd appdir
ReadWritePaths=/home/exccd/.exccd/

# exccd datadir
ReadWritePaths=/home/exccd/.exccd/data

# exccd logdir
ReadWritePaths=/home/exccd/.exccd/logs

# launch exccd
ExecStart=/home/exccd/EXCCoin/exccd

# restart exccd
TimeoutStopSec=10s
Restart=on-abnormal
RestartSec=10s

# strict privilege
InaccessiblePaths=/usr/local/sbin /usr/local/bin /usr/sbin /usr/bin /sbin /bin
CapabilityBoundingSet=
NoNewPrivileges=true
LockPersonality=true
PrivateDevices=true
PrivateMounts=true
PrivateTmp=true
PrivateUsers=true
ProtectClock=true
ProtectControlGroups=true
ProtectHostname=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectSystem=strict
RemoveIPC=true
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX AF_NETLINK
RestrictNamespaces=true
RestrictSUIDSGID=true
SystemCallArchitectures=native
SystemCallFilter=@system-service
SystemCallFilter=~@clock @module @mount @reboot @swap @privileged

[Install]
WantedBy=multi-user.target
